* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.9rem
}
img{
  vertical-align:top
}
#leading-page{
  
}

.forget-link{
  /* font-size: 0.8rem; */
  width: 100%;
  text-align: center;
}
.forget-link a{
  font-size: 0.8rem;
}
.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.search-bar{
  display: inline-block;
  width: 90%;
}